* {
    padding: 0;
    margin: 0;
}

.container .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 115px;
    background-color: rgba(0, 0, 0, 0.844);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.container .header .logo h1 {
    color: white;
}

/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
    position: absolute;
    top: -100%;
    left: -100%;
}
  
/* Hide hamburger for bigger screens */
.menu-icon {
    visibility: hidden;
}

.container .header ul {
    padding-top: 15px;
    list-style: none;
    padding-right: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.container .header ul li {
    display: inline;
    padding-left: 30px;
    overflow: hidden;
}

.container .header ul li a{
    color: white;
    text-decoration: none;
}

.container .header ul li a:hover{
    background-color: rgba(0, 0, 0, 0.196);
}

.content .home{
    background: url(./bghome.jpg);
    color: white;
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 120px 120px;
}

.container .content .home h1 {
    text-align: center;
    padding-bottom: 20px; 
    font-size: 45px;
}

.container .content .home h3 {
    padding: 10px 10px; 
    font-size: 25px;
}

.container .content .home dd {
    padding: 5px 5px; 
    font-size: 17px;
}

.container .content .galery h2{
    background-color: rgba(0, 0, 0, 0.844);
    color: white;
    padding: 15px 115px;
}

.container .content .galery .foto{
    padding: 40px 40px;
    background-color: rgba(0, 0, 0, 0.159);
}

.container .content .contact h2{
    background-color: rgba(0, 0, 0, 0.844);
    color: white;
    padding: 15px 115px;
}

.container .content .contact form{
    background-color: rgba(0, 0, 0, 0.159);
    padding: 15px 115px;
    padding-top: 30px;
}

.container .footer {
    padding: 1px 1px;
    background-color: rgba(0, 0, 0, 0.159);
}

.container .footer .ftext {
    text-align: right;
}

.container .footer .ftext h4 {
    text-align: right;
    padding: 1px 1px;
}

@media (max-width: 913px) {
    body {
        font-size: auto;
    }
}

@media (max-width: 685px) {
    body {
        font-size: medium;
    }
    .container .content .home h1 {
        font-size: 30px;
    }
    .container .content .home h3{
        font-size: 20px;
    }
    .container .content .home dd {
        font-size: 14px;
    }
    img {
        width: 150px;
        height: 100px;
    }
}

@media (max-width: 600px) {
    .container .header {
        display: grid;
        grid-template-areas: 
        "title   title   hamburger"
        "nav     nav     nav";
    }

    .container .header .logo h1 {
        grid-area: title;
    }

    .container .header .menu a {
        text-decoration: none;
    }

    .menu-btn {
        display: none;
      }
    
    .menu-icon {
        grid-area: hamburger;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        padding: 30px 20px 30px 0;
        position: relative;
        user-select: none;
        visibility: visible;
    }
    
    .navicon {
        background: white;
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
    }
    
    .navicon:before {
        top: 5px;
    }
    
    .navicon:after {
        top: -5px;
    }
    
    .navicon:before, .navicon:after {
        background: white;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        transition: all .2s ease-out;
    }
    
    .menu {
        grid-area: nav;
        max-width: unset;
        max-height: 0;
        transition: max-height .2s ease-out;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
    }
    
      .menu a {
        padding: 20px 20px;
        border-right: 1px solid;
        background-color: black;
        width: 100%;
        text-align: center;
    }
    
    .menu-btn:checked ~ .menu {
        max-height: 240px;
    }
    
    .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }
    
    .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    
    .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    
    .menu-btn:checked ~ .menu-icon .navicon:before,
    .menu-btn:checked ~ .menu-icon .navicon:after {
        top: 0;
    }
}


@media (max-width: 548px) {
    body {
        font-size: small;
    }
    
    .container .header {
        padding: 10px 30px;
    }

    .container .content .home  {
        font-size: small;
        padding: 10px 30px;
    }

    .container .content .galery h2{
        padding: 10px 30px;
    }

    img {
        width: 100px;
        height: 50px;
    }
}